.vista{
    height: 23.75rem;
    width: 100%;
    background: repeating-linear-gradient(157.5deg, rgb(226,217,219) 0px, rgb(226,217,219) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(67.5deg, rgb(226,217,219) 0px, rgb(226,217,219) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, rgb(100,68,36),rgb(100,68,36));
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    font-size: 16px;
}