.vista__info{
    height: 12.5em;
    width: 21.875em;
    display: flex;
    flex-direction: column;
    padding: 1.25em;
}
/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .vista__info{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .vista__info{
        font-size: 10px;
    }
}