.tarea__contenedor{
    margin-top: 4.0625rem;
    height: 31.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gris-rosado);
}
