/*CSS Raiz*/
:root{

    /*Fuentes*/
    --raleway: 'Raleway', sans-serif;
    /*Colores de Fuentes*/
    --fuente-clara: #FFFFFF;
    --fuente-resaltada: background: rgba(60, 162, 162, 1);
    --fuente-oscura: #000000;
    --fuente-cafe:#644424;
    --fuente-azul: #3CA2A2;
    
    /*Fondos*/
    --cafe-oscuro: #644424;
    --gris-rosado: #E2D9DB; 
    --blanco: #FFFFFF;
    --gris: #d9d9d9;    
    --cafe-vino: #5C3D43;
    

    /*Sombras de Texto*/
    --texto-sombreado: 2px 2px 3px rgba(0, 0, 0, 5);
    --texto-sombreado-light: 0px 0px 1px rgba(0, 0, 0, 2);

    /*Sombras de Contenedores*/
    --container-sombra: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

body{
    font-family: var(--raleway);
}
/*Eliminar bg del autocompletado*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

