.promocional__titulo{
    position: absolute;
    width: 53.125rem;
    top: 9.375rem;
    left: 6.25rem;
    font-family: Rasa;
    font-weight: 700;
    font-size: 4.375rem;
    color: var(--fuente-clara);
    text-shadow: var(--texto-sombreado);
};
