.promocional__subtitulo{
    position: absolute;
    top: 20rem;
    left: 6.25rem;
    font-family: Rasa;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--fuente-clara);
    text-shadow: var(--texto-sombreado);
}