.promocional__titulo{
    position: absolute;
    width: 15em;
    top: 2.2em;
    left: 1.4em;
    font-family: Rasa;
    font-weight: 700;
    font-size: 4.375em;
    color: var(--fuente-clara);
    text-shadow: var(--texto-sombreado);
};
