.rotapie{
    height: 3.125rem;
    width: auto;
    background-color: #5C3D43;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
/*TV Responsive*/
@media screen and (max-width: 1920px) {
    .rotapie{
        font-size: 21px;
    }
}
/*PC Responsive*/
@media screen and (max-width: 1280px) {
    .rotapie{
        font-size: 16px;
    }
}
/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .rotapie{
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .rotapie{
        font-size: 11px;
    }
}