.nav__link{
    text-decoration: none;
    color: var(--negra);
    font-weight: 700;
    font-size: 1.25em;
    transition: .1s ease-in-out;
}
.nav__link:hover{
    color: var(--fuente-azul);
    text-decoration: underline;
}
/*Mobile Responsive*/
@media screen and (max-width: 500px) {
    .nav__link{
        margin-top: 5px;
        background-color: var(--blanco);
        width: 150px;
        text-align: center;
        box-shadow: var(--container-sombra);
    }
}