.nav__contenedor{
    width: 58.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Mobile Responsive*/
@media screen and (max-width: 500px) {
    .nav__contenedor{
        flex-direction: column;
    }
}