.nav__link{
    text-decoration: none;
    color: var(--negra);
    font-weight: 700;
    font-size: 1.25em;
    transition: .1s ease-in-out;
}
.nav__link:hover{
    color: var(--fuente-azul);
    text-decoration: underline;
}