.producto__contenedor{
    display: flex;
    flex-direction: column;
    width: 12.5em;
    height: 20em;
    background-color: var(--blanco);
    border-radius: 1.25em;
    padding: .9375em .9375em;
    margin-top: 1.25em;
    position: relative;
    margin-left: .3125em;

}
.producto__contenedor--inactive{
    display: none;
}

/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .producto__contenedor{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) {
    .producto__contenedor{
        font-size: 10px;
    }
}