.producto__contenedor{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 320px;
    background-color: var(--blanco);
    border-radius: 20px;
    padding: 15px 15px;
    margin-top: 20px;
    position: relative;
}