.producto__vermas{
    width: 6.25rem;
    display: flex;
    color: var(--fuente-azul);
    font-weight: 700;
    text-decoration: none;
    align-self: flex-end;
    transition: .3s ease-in-out;
    font-size: 1.25rem;
    padding: .125rem .1875rem;
}
.producto__vermas:hover{
    background: var(--fuente-azul);
    border-radius: .3125rem;
    color: var(--blanco);
}