.producto__contenedor{
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    height: 20rem;
    background-color: var(--blanco);
    border-radius: 1.25rem;
    padding: .9375rem .9375rem;
    margin-top: 1.25rem;
    position: relative;
    margin-left: .3125rem;

}
.producto__contenedor--inactive{
    display: none;
}
