.productos__btnAgregar{
    margin-bottom: 1.25em;
    height: 1.875em;
    border: none;
    border-radius: 1.25em;
    font-weight: 700;
    cursor: pointer;
    width: 9.375em;
    font-size: 1em;
    box-shadow: var(--container-sombra);
    transition: .1s ease-in-out;
}
.productos__btnAgregar a{
    text-decoration: none;
    color: var(--fuente-oscura);
}
.productos__btnAgregar:hover{
    transform: scale(1.1);
}
.productos__btnAgregar:active{
    transform: scale3d(0.95, 0.95, 1);
}