.producto__grupoCategoria{
    display: flex;
    width: 100%;
    flex-direction: column;
}
/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .producto__grupoCategoria{
        font-size: 20px;
        
    }
}
@media screen and (max-width: 500px) {
    .producto__grupoCategoria{
        font-size: 10px;
    }
}