.producto__iconEdit{
    position: absolute;
    top: 1.25rem;
    right: 2.8125rem;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.producto__iconEdit:hover{
    color: var(--fuente-azul);
}
