.producto__vermas{
    width: 100px;
    display: flex;
    color: var(--fuente-azul);
    font-weight: 700;
    text-decoration: none;
    align-self: flex-end;
    transition: .3s ease-in-out;
    font-size: 20px;
    padding: 2px 3px;
}
.producto__vermas:hover{
    background: var(--fuente-azul);
    border-radius: 5px;
    color: var(--blanco);
}