.agregar-productos{
    background-color: var(--gris-rosado);
    margin-top: 5rem;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}