.tabla__titulo{
    font-size: 1.875em;
    font-weight: 500;
    width: 18.75em;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .tabla__titulo{
        font-size: 20px;
        width: 100%;
    }
}