.tabla__invalid{
    position: absolute;
    color: red;
    font-weight: 600;
    top: 5.25em;
    left: 1.25em;
    visibility: hidden;
    font-size: .75em;
}
.tabla__invalid--active{
    visibility: visible;
}