.tabla__boton{
    width: 100%;
    height: 3.125em;
    border-radius: 10px;
    background-color: var(--cafe-vino);
    color: var(--fuente-clara);
    border: none;
    outline: none;
    font-size: 1.125em;
    box-shadow: var(--container-sombra);
    cursor: pointer;
    transition: .1s ease-in-out;
}
.tabla__boton:active{
    transform: scale3d(0.95, 0.95, 1);
}
@media screen and (max-width: 500px) {
    .tabla__boton{
        margin-top: 20px;
    }
}
