.login__boton{
    position: absolute;
    left: 7em;
    top: 20em;
    width: 6.25em;
    height: 1.875em;
    font-size: 1.25em;
    transition: .1s ease-in-out;
    box-shadow: var(--container-sombra);
    background-color: #E2D9DB;
    border: none;
    border-radius: .625em;
    cursor: pointer;
}

.login__boton:hover{
    transform: scale(1.2);
}
.login__boton:active{
    transform: scale3d(1, 1, 1);
}