.login__invalid{
    position: absolute;
    left: 0em;
    top: 4.125em;
    color:white;
    font-size: .75em;
    padding: .3125em;
    border-radius: .625em;
    background-color: red;
    text-shadow: var(--texto-sombreado-light);
    visibility: hidden;
}
.login__invalid--active{
    visibility: visible;
}