.login__titulo{
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    background-color: #855861;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    color: var(--blanco);
    font-weight: 500;
    padding: .1875rem;
    text-shadow: var(--texto-sombreado);
    border: 1px solid var(--cafe-vino);
    box-sizing: border-box;
}