.login__boton{
    position: absolute;
    left: 10rem;
    top: 25rem;
    width: 6.25rem;
    height: 1.875rem;
    font-size: 1.25rem;
    transition: .1s ease-in-out;
    box-shadow: var(--container-sombra);
    background-color: #E2D9DB;
    border: none;
    border-radius: .625rem;
}

.login__boton:hover{
    transform: scale(1.2);
}
.login__boton:active{
    transform: scale3d(1, 1, 1);
}