.busqueda__contenedor{
    border: .3125rem solid var(--cafe-vino);
    width: 46.875rem;
    height: 26.875rem;
    position: absolute;
    top: 2.5rem;
    background-color: var(--gris-rosado);
    border-radius: .3125rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}