.busqueda__contenedor{
    border: .3125em solid var(--cafe-vino);
    width: 46.875em;
    height: 26.875em;
    position: absolute;
    top: 2.5em;
    background-color: var(--gris-rosado);
    border-radius: .3125em;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .busqueda__contenedor{
        height: 450px;
    }
}
@media screen and (max-width: 500px) {
    .busqueda__contenedor{
        width: 95%;
        height: 300px;
        align-items: center;
    }
}