.contacto__invalid{
    color: red;
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    left: 10px;
    top: 90px;
    display: none;
}
.contacto__invalid-mensaje{
    color: red;
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    left: 10px;
    top: 215px;
    display: none;
}
.contacto__invalid--active{
    display: block;
}
