.contacto__mensaje{
    background-color: var(--gris-rosado);
    outline: none;
    border: none;
    border-radius: .625rem;
    width: 18.75rem;
    height: 150px;
    padding: 10px 10px;
    margin-top: 40px;
    font-size: 15px;
    resize: none;
}
.contacto__mensaje~label{
    position: absolute;
    left: 8px;
    top: 52px;
    transition: .5s ease-in-out ;
    font-size: 15px;
    font-weight: 600;
}
.contacto__mensaje:focus~label{
    position: absolute;
    left: 8px;
    top: 22px;
}
.contacto__mensaje:valid~label{
    color: #0EC6A4;
    left: 8px;
    top: 22px;
}