.contacto__input{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--gris-rosado);
    width: 18.75rem;
    height: 1.25rem;
    padding: 0 .625rem;
    margin-top: 3.75rem;
    font-size: .9375rem;
}
.contacto__input~label{
    position: absolute;
    left: 8px;
    top: 45px;
    transition: .4s ease-in-out ;
    font-size: 15px;
    font-weight: 600;
}
.contacto__input:focus~label{
    position: absolute;
    left: 8px;
    top: 30px;
}
.contacto__input:valid~label{
    color: #0EC6A4;
    left: 8px;
    top: 30px;
}
.contacto__input::placeholder{
    font-size: 12px;
}