.contacto__boton{
    width: 8.125em;
    height: 1.875em;
    position: absolute;
    top: 32.5em;
    font-size: 1em;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.contacto__boton:hover{
    transform: scale(1.2);
}
.contacto__boton:active{
    transform: scale3d(0.95, 0.95, 1);
}