.contacto__boton{
    width: 130px;
    height: 30px;
    position: absolute;
    top: 520px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.contacto__boton:hover{
    transform: scale(1.2);
}
.contacto__boton:active{
    transform: scale3d(0.95, 0.95, 1);
}