.barra{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: var(--cafe-vino);
    justify-content: center;
    box-shadow: rgb(75, 50, 55) 0px 0px 20px 10px inset, rgb(65, 43, 47) 0px 0px 4px 5px inset;
}