.barra__link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25em;
    text-shadow: var(--texto-sombreado);
    background-color: #6f4a52;
    padding: .625em;
    border-radius: .625em;
    border: 1px solid var(--cafe-vino);
    box-shadow: var(--container-sombra);
    transition: .1s ease-in-out;
}
.barra__link:active{
    transform: scale3d(0.95, 0.95, 1);
}