.barra__input{
    width: 23.125em;
    height: 2.1875em;
    background-color: #E2D9DB;
    outline: none;
    border: none;
    border-radius: 1.25em;
    font-size: 1em;
    padding-left: 1.875em;
    padding-right: .9375em;
    position: relative;
}
/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .barra__input{
        height: 3em;
        width: 28em;
    }
}
/*Mobile Responsive*/
@media screen and (max-width: 500px) {
    .barra__input{
        height: 23px;
        width: 170px;
    }
}