.barra__contenedor{
    width: 58.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Tablet Responsive*/
@media screen and (max-width: 960px) {
    .barra__contenedor{
        flex-direction: column;
    }
}